<h3 class ='center'>Sinatra Bistro Menu</h3>
<div class="center card green lighten3">
  <div class="card-content black-text">
    <h4>View Menu</h4>
    <a href="/apps" class="btn">Dinner</a>
    </div>
</div>
<div class="center card green lighten3">
  <div class="card-content black-text">
    <h4>Create a new menu item</h4>
    <a href="/apps/new" class="btn">New menu item</a>
  </div>
</div>

